body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 120%;
}

header {
    background-color: lightgray;
}

nav {
    background-color: lightgrey;
    display: inline-block;
    width: 80%;
}

nav a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header img {
    width: 10%;
    position: relative;
    top: 20px;
}

main {
    background-color: yellow;
    font-size: 120%;
}

footer {
    background-color: lightgray;
}

/*li {
    display: flexbox;
    width: 100px;
}*/

h1 {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
}

p {
    line-height: 32px;
}

.to-grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;

}

.to-grid img {
    width: 100%;
}

.to-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* .to-flex img {
    width: 100%;
} */